/* src/components/A.module.css */
:root{
  --bgA:#0d1117;
}
.aTheme{
--bgA:#F8FAFC;  
}
.mainDiv {
  display: flex;
  background-color: var(--bgA); 
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  /* margin: 10px; */
}

/* Chap ustun (Heatmap va Calendar uchun) */
.leftsideDiv {
  width: 580px;           /* Kalendar va Heatmap erkin, lekin chegaralangan holda sig'adi */
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 15px 30px 30px;
  box-sizing: border-box;
}

/* O'ng ustun (Dashboard va Stats uchun) */
.rightsideDiv {
  width: 550px;           /* Dashboard va Stats o'lchamiga mos */
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 30px 30px 30px 15px;
  box-sizing: border-box;
  margin-left: 200px; /* Agar masofa kamlik qilsa 40px yoki 50px qilib ko'ring */
}