/* src/components/Heatmap.module.css */

.heatmapContainer {
  width: 100%;             /* leftsideDiv'ning 580px kengligini to'liq oladi */
  padding: 24px;
  background-color: #1E2129;
  border-radius: 28px;
  border: 1px solid #3e404d;
  box-sizing: border-box;
}

.heatmapTitle {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
}

:global(.react-calendar-heatmap) {
  width: 100%;
}

:global(.react-calendar-heatmap) .color-empty {
  fill: #2C313C;
}