:root{
  --bg: #1E2129;
  --border:#3e404d;
  --text:#ffffff;
}
.heatmapTheme{
  --bg: #ffffff;
  --border: black;
  --text:black;
}
.heatmapContainer {
  width: 100%;             
  padding: 24px;
  background-color:var(--bg);
  border-radius: 28px;
  border: 1px solid var(--border);
  box-sizing: border-box;
}

.heatmapTitle {
  color: var(--text);
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 20px;
}

:global(.react-calendar-heatmap) {
  width: 100%;
}

:global(.react-calendar-heatmap) .color-empty {
  fill: #2C313C;
}
:global(.react-calendar-heatmap .color-scale-1) {
  fill: #9BE9A8 !important;
}

:global(.react-calendar-heatmap .color-scale-2) {
  fill: #40C463 !important;
}

:global(.react-calendar-heatmap .color-scale-3) {
  fill: #30A14E !important;
}

:global(.react-calendar-heatmap .color-scale-4) {
  fill: #216E39 !important;
}