:root{
  --bg:#1E2129;
  --border:#3e404d;
  --inBg:#2C313C;
  --text: #ffffff;
  --p:#8E929D;
}
.statsTheme{
  --bg:#ffffff;
  --border:black;
  --inBg:#FAFAFA;
  --text:black;
  --p:black;
}
.statsDiv h1{
  color: var(--text);
  font-size: 28px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.statsMainDiv{
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: var(--bg);

  padding: 20px;
  width:550px;
  margin: 10px;
  border-radius:28px;
  border: 1px solid var(--border);
  flex-direction:column;

}

.statsSmallDiv{
  background-color:var(--inBg);
  border: 1px solid var(--border);

  width: 35%;
  border-radius: 20px;
  padding: 15px;
}

.statsDiv{
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
 
  gap: 15px;
  
}
.statsMainDiv h2{
  color: var(--text);
  margin-bottom: 10px;
}
.statsDiv h3{
  color:var(--text) ;
  margin: 0;
 

}
.statsDiv p{
  /* color: #FFFFFF; */
  margin: 0;
  font-weight:bold;
  color:var(--p);
  

}