:root{
  --bg : #24252D;
  --border: #3e404d;
  --text: #ffffff;
}
.BgColor{
--bg: #FFFFFF ;
--border:black;
--text:black;
}

.asideNavbarBigDiv{
  background-color: var(--bg);
  padding: 15px;
  border: 1px solid var(--border);
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  margin: 10px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 620px;
  width: 100px;
  
}
.asideBtnsDiv1 {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 10px;
}
.asideBtnsDiv1 button{
  padding: 20px;
  font-size: 10px;
  font-weight: bold;
  background-color: var(--bg);
  border-radius: 10px;

  height: 65px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--text);

}
.asideBtnsDiv1 button:active{
  color: var(--text);
  background-color: #1F222A;
}
.asideBtnsDiv1 button:hover{
  background-color: rgba(255, 255, 255, 0.05);

}
.asideBtnsDiv2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  }
.asideBtnsDiv2 button{
  padding: 20px;
  background-color: var(--bg);
  height: 60px;
  width: 60px;
  display: flex;
  border-radius: 10px;
  font-size: 10px;
  font-weight: bold;
  justify-content: center;
  align-items: center;

  color: var(--text);

}
.asideBtnsDiv2 button:active{
  color: var(--text);
  background-color: #1F222A;
}
.asideBtnsDiv2 button:hover{
  background-color: rgba(255, 255, 255, 0.05);
}
.asideBtnsDiv2 h3{
  color: var(--text);
  margin-top: 0;

}
a{
  color: var(--text);
}
.navvv{
  gap: 5px;
  display: flex;
  flex-direction: column;
}
.userImgClass{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}